.main-box{
    display: flex;
}
.nickname-container{
    height: 85vh;
    min-height: 700px;
    width: 25vw;
    min-width: 350px;
    border: none;
    overflow: hidden;
    margin-right: -2px;
    border-radius: 5px;
    background: #fff;
    flex-grow: 1;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px #f0f0f0;
  
}

.iframe-container{
    height: 28px;
    width: 28px;
    padding-top:10px;
    top: 50px;
    display: flex;
    justify-content: flex-end;
    right: 15vw;
    border-radius: 15px;
    position: fixed;
    background-color: #2b88d8;
    z-index: 999;
}